# Copier ce fichier en .env et remplir avec vos propres valeurs.
# Ne jamais committer .env (déjà dans .gitignore).

OPENWEATHER_API_KEY=

# Connexion au warehouse (à compléter par Ny Anja)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=air_quality_dw
DB_USER=postgres
DB_PASSWORD=miranj3119**